h1{
	color: #CCAB6D;
	font-size: 1rem;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}
.main{
	padding-bottom: 60px;
}
.font{
	color: #333;
	margin-top: 15px;
}
.font p{
	text-indent: 2em;
	font-size: 0.85rem;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}
.font span{
	text-indent: 2em;
	display: block;
	font-size: 0.75rem;
	line-height: 2em;
	text-align: justify;
}
.what{
	margin-top: 65px;
}
.what-top img{
	width: 10px;
	height: 10px;
}
.what p{
	margin-top: 15px;
	margin-bottom: 15px;
}
.what-top a{
	border-radius: 5px;
    border: 1px solid #e3e3e3;
    color: #ccab6d;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 2em;
    margin-right: 15px;
}
.what-top span{
	margin-left: 5px;
}
.what-a{
	background: #ccab6d;
	color: #fff;
	float: left;
	display: block;
	text-align: center;
	width: 50px;
	line-height: 1.5em;
	margin-left: 15px;
	border-radius: 5px;
	margin-top: 20px;
}
.what-a:hover{
	color: #fff;
}
.what input{
	border: 1px solid #b6b6b6;
    outline: none;
    float: left;
    width: 280px;
    height: 30px;
    margin-top: 15px;
}
.sign-content{
	overflow: hidden;
	clear: both;
	margin-top: 30px;
}
.sign-nav {
    height: 39px;
}

.sign-nav h2 {
    width: 176px;
    font-size: 18px;
    margin-top: 0px;
    position: relative;
    float: left;
}

.sign-nav ul li {
    float: left;
    color: #999;
    padding: 0px 8px;
    font-size: 15px;
    cursor: pointer;
    line-height: 30px;
    background: #fff;
    border: 1px solid #e6e6e6;
     
     margin-right: 15px;
}
.sign-nav ul li span{
	margin-left: 10px;
}
.sign-nav ul .on {
  border: 1px solid #e6e6e6;
    background: #fff;
    color: #333;
    height: 40px;
    margin-top: 0px;
    border-bottom: 1px solid #fff;
    z-index: 999;
    position: relative;
}
.sign-nav img{
	width: 10px;
	height: 10px;
}
.sign-body ul li {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #e6e6e6;
    border-top: 1px solid #eee;
}

.sign-item-title {
    font-size: 14px;
    color: #3f3f3f;
    margin-bottom: 13px;
    display: block;
    width: 183px;
    overflow: hidden;
    white-space: nowrap;
}

.sign-item-text {
    font-size: 13px;
    color: #666666;
    margin-bottom: 10px;
    margin-top: -6px;
}

.sign-item-bottom {
    margin-bottom: 5px;
}
.clearfix img{
	width: 10px;
	height: 10px;
	margin-right: 5px;
}
.sign-icon-ad {
    width: 12px;
    height: 14px;
    float: left;
    background: url(../images/adress.png) no-repeat;
    margin-right: 5px;
    margin-top: 1px;
}

.sign-icon-ti {
    width: 144px;
    color: #9c9c9c;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}

.sign-icon-time {
    width: 12px;
    height: 14px;
    float: left;
    background: url(../images/time.png) no-repeat;
    margin-right: 6px;
    margin-top: 3px;
}

.sign-item-top {
    margin-top: 10px;
    zoom: 1; }

.sign-item-top-title {
    color: #ff7011;
    font-size: 19px;
    float: left;
    font-family: "Microsoft YaHei";
}

.sign-item-top-time {
    margin-left: 15px;
    margin-top: 4px;
    float: right;
}

.sign-item-top-time span {
    color: #31a893;
    font-size: 12px;
}

.sign-item-top-time span i {
    display: inline-block;
    color: #35bda3;
    height: 15px;
    line-height: 15px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 2px;
    font-size: 12px;
    padding: 0px 3px 1px 3px;
    border: 1px solid #c2e9e6;
    background-color: #efffff;
    font-style: inherit;
}
.sign-item-title:hover {
    color: #333;
}
.sign-body {
    position: relative;
    width: 286px;
}

@media screen and (max-width: 768px){
	.what{
		display: none;
	}
	p{
		color: #CCAB6D;
	}
}